<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.wit.hbasemanager.manage.manageservice.mapper.HbaseDataSourceConfigurationMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="edu.wit.hbasemanager.manage.manageservice.entity.HbaseDataSourceConfiguration">
        <id column="id" property="id" />
        <result column="properties" property="properties" />
        <result column="name" property="name" />
    </resultMap>

</mapper>
